#disable samsung anti-root stuffs
CONFIG_UH=n
CONFIG_SECURITY_DEFEX=n
CONFIG_PROCA=n
CONFIG_FIVE=n

# MTK MODULES
CONFIG_WLAN_DRV_MODULE=y
CONFIG_MTK_BT_DRV_EXTERNAL=y
CONFIG_MTK_GPS_DRV_EXTERNAL=y
CONFIG_MTK_FM_DRV_EXTERNAL=y
